RewriteEngine On

# Jika request bukan file yang ada
RewriteCond %{REQUEST_FILENAME} !-f

# Jika request bukan direktori yang ada
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect semua request ke index.php dengan parameter url
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
